@model HairSalon.Models.Stylist
@using HairSalon.Models

<h2>Stylist Info</h2>
<hr />

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h4>@Html.DisplayNameFor(model => model.Specialty): @Html.DisplayFor(model => model.Specialty)</h4>

@if (@Model.Clients.Count == 0)
{
    <h4>@Html.DisplayFor(model => model.Name) does not have any clients currently.</h4>
}
else
{
    <h4>Clients:</h4>
    <ul>
        @foreach (Client client in Model.Clients)
        {
            <li>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })</li>
        }
    </ul>
}

<div class="button-group">
    @using (Html.BeginForm("Edit", "Stylists", FormMethod.Get))
    {
        @Html.Hidden("id", Model.StylistId)
        <input class="button" type="submit" value="Edit stylist info" />
    }

    @using (Html.BeginForm("Delete", "Stylists", FormMethod.Get))
    {
        @Html.Hidden("id", Model.StylistId)
        <input class="button" type="submit" value="Remove stylist" />
    }
</div>