@model HairSalon.Models.Stylist

<h2>Edit stylist info</h2>
<h1>@Html.DisplayFor(model => model.Name)</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)


    @Html.LabelFor(model => model.Specialty)
    @Html.EditorFor(model => model.Specialty)

    <input type="submit" value="Save" />
}

@using (Html.BeginForm("Index", "Stylists", FormMethod.Get))
{
    <input type="submit" value="Back to stylist list">
}