@model HairSalon.Models.Stylist

<h2>Edit stylist info</h2>
<h1>@Html.DisplayFor(model => model.Name)</h1>

@using (Html.BeginForm())
{
    <div class="data-form">
        @Html.HiddenFor(model => model.StylistId)

        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)


        @Html.LabelFor(model => model.Specialty)
        @Html.EditorFor(model => model.Specialty)

        <input class="button" type="submit" value="Update" />
    </div>
}