@model HairSalon.Models.Client
@using HairSalon.Models

<h2>Client Info</h2>
<hr />

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Stylist): @Html.DisplayFor(model => model.Stylist.Name)</h3>

@if (@Model.Appointments.Count == 0)
{
    <h4>@Html.DisplayFor(model => model.Name) does not have any appointments scheduled.</h4>
}
else
{
    <h4>Appointments:</h4>
    <ul>
        @foreach (Appointment appointment in Model.Appointments)
        {
            <li>@appointment.Date.ToString("yyyy-MM-dd") at @appointment.Time.ToString(@"hh\:mm")</li>
        }
    </ul>
}

@using (Html.BeginForm("Edit", "Clients", FormMethod.Get))
{
    @Html.Hidden("id", Model.StylistId)
    <input type="submit" value="Edit client info" />
}

@using (Html.BeginForm("Create", "Appointments", FormMethod.Get))
{
    @Html.Hidden("id", Model.ClientId)
    <input type="submit" value="Schedule an appointment" />
}

@using (Html.BeginForm("Delete", "Clients", FormMethod.Get))
{
    @Html.Hidden("id", Model.ClientId)
    <input type="submit" value="Remove client" />
}

@using (Html.BeginForm("Index", "Clients", FormMethod.Get))
{
    <input type="submit" value="Back to client list" />
}